<%# <h1><%= link_to @glam.makeup, glam_path(@glam)</h1>  %>
<h1> Glam Squad -- <%= @glam.glam_squad %></h1> <br>
<h1>Makeup -- <%= @glam.makeup %></h1> <br>
<h2>Hair -- <%= @glam.hair %></h2> <br>
<h2>Wardbrobe --  <%= @glam.wardrobe %></h2> <br></h2>

<%# <%= link_to "All squads", glams_path %><br> 
<%= link_to "Add New Squad", new_glam_path %><br>
<%= link_to "Home", artists_path %>